# Project output
output/
main.pdf
doc/*.html

# Emacs temp files
auto/
.auctex-auto/
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
.projectile
TAGS

# Vim temp files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

# LaTeX temp files
*.aux
*.log
*.toc
*.lof
*.fls
*.fdb_latexmk
doc/_minted-prophecy/

# General macOS
.DS_Store
.AppleDouble
.LSOverride
.idea

# Other
.sass-cache/
